/* Criando variavel de cores. seletor ROOT maior tag assim nao corre risco de sobrescvrer*/
:root {
--branco: #FFF;
--azul-claro: #DFE3E5;
--vermelho-forte: #B72E2E;
--cinza-escuro: #4F4C4C;
--cinza-claro: #F7F4F4;
--cinza-medio: #D9D9D9;
    
--fonte-link: #0084FF;
--fonte-cinza: #666;
--borda-cabecalho-mobile: #103D4A;
--bg-rodape: #333;
--bg-chamada-mobile: #00161C;


/* base de cores para cartoes dos planos*/
--planos-cartao-standart: green;
--planos-cartao-premium: green;
--planos-cartao-essentials: green;

--montserrat: 'Montserrat', sans-serif;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    padding-right: 6%;
    padding-left: 6%;
}

.botao {
    text-align: center;
    /* display block para conseguir mudar o tamanho*/
    display: block;
    width: 100%;
    /*limitando o tamanho*/
    max-width: 350px;
    box-sizing: border-box;
    padding: 1rem 2rem;
    border: 1px solid var(--branco);
    border-radius: 5px;
}








/* arrumando padding do container - limitando tamanho da tela 
pra que todo conteudo fique sempre dentro de 950px*/
@media screen and (min-width: 1024px) {
    .container {
        padding-left: calc((100% - 940px)/2);
        padding-right: calc((100% - 940px)/2);
    }
}