.cabecalho {
    color: var(--branco);

    width: 100%;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: .75rem;
    padding-bottom: .75rem;

    border-bottom: 1px solid var(--borda-cabecalho-mobile);

    position: absolute;
}

.cabecalho_logo {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 1rem;
    width: 180px;
    text-align: center;
}

.cabecalho_navegacao {
    display: flex;
   
    text-align: center;
    
}

.cabecalho_link {
    font-size: 1.1rem;

    display: inline-block;

    margin-right: .7rem;
    margin-bottom: 1.25rem;
    margin-left: .7rem;
}

.mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }


/* A partir de 1024 layout para desktop*/
@media screen and (min-width: 1024px){
    .cabecalho{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border:none;
    }

}
