.destaques {
    background-color: #fbeeca;

    padding-top: 2rem;
    padding-bottom: 2rem;

}

.destaques_titulo{
    color: var(--cinza-escuro);
    font-weight: 700;
    font-size: 1.5rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    text-align: center;

    padding-top: 2rem;
    padding-bottom:  2rem;
}

.destaques_painel{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 2rem;
}

.destaques_painel-img{
    width:100vw;
    max-width:600px;
    box-shadow: 0 2px 10px 5px #00000020;
    margin-bottom: .5rem;
}

.destaques_painel-texto{
    font-weight: 700;
    font-size: 1.2rem;
    line-height: normal;
}

.destaques_botao{
    color: var(--vermelho-forte);
    border-color: var(--vermelho-forte);
    margin:0 auto;
}

.destaques_botao:hover,
.destaques_botao:active {
    opacity: 0.8;
    background-color: var(--vermelho-forte);
    border: 1px solid  var(--vermelho-forte);
    color: #FFF;
}



@media screen and (min-width:1024px){

    
    .destaques {
        background-color: #fbeeca;
        margin: 0px;
    
       
    
    }
    
    .destaques_painel{
        display: inline-block;
      
        padding: 0 25px;
        
        
      
    }
    
    .destaques_painel-img{
        width:100vw;
        max-width:400px;
        height: 300px;
        box-shadow: 0 2px 10px 5px #00000020;
        margin-bottom: .5rem;
    }
    
    .destaques_painel-texto{
        font-weight: 700;
        font-size: 0.9rem;
        line-height: normal;
        text-align:justify;
    }
    
    .destaques_botao{
        color: var(--vermelho-forte);
        border-color: var(--vermelho-forte);
        margin:0 auto;
        margin-top: 2rem;
    }




        
    

}